In [1]:
import pandas as pd #type:ignore
df = pd.read_csv('clean_data.csv')
df

       Unnamed: 0                                          statement   status
0               0  Health anxiety taking over my life Since I got...  Anxiety
1               1  Bladder cancer and heart disease I'm 26 I kno ...  Anxiety
2               2  Might take a while to get my meds, what can I ...  Anxiety
3               3  anxiety over leg numbness so i've had cripplin...  Anxiety
4               4  Inhalated AC/refrigerant chemicals Today, I wa...  Anxiety
...           ...                                                ...      ...
53927       53038  Nobody takes me seriously I’ve (24M) dealt wit...  Anxiety
53928       53039  selfishness  "I don't feel very good, it's lik...  Anxiety
53929       53040  Is there any way to sleep better? I can't slee...  Anxiety
53930       53041  Public speaking tips? Hi, all. I have to give ...  Anxiety
53931       53042  I have really bad door anxiety! It's not about...  Anxiety

[53932 rows x 3 columns]

In [5]:
df.status.value_counts()

status
Normal                  16751
Depression              15789
Suicidal                10918
Anxiety                  4033
Bipolar                  2777
Stress                   2587
Personality disorder     1077
Name: count, dtype: int64

In [12]:
#Combing Stress and Anxiety under Anxiety
#Combing bipolar and personality disorder under personality disorder -> 5 unique labels
new_status = []
for status in df.status:
    if status == 'Stress':
        status = 'Anxiety'
    if status == 'Bipolar':
        status ='Personality disorder'
    new_status.append(status)

df['status'] = new_status
df['status'].value_counts()

status
Normal                  16751
Depression              15789
Suicidal                10918
Anxiety                  6620
Personality disorder     3854
Name: count, dtype: int64

In [15]:
df.to_excel('mod_data.xlsx')

In [16]:
df = pd.read_excel('mod_data.xlsx')
df.head()

,Unnamed: 0.1,Unnamed: 0,statement,status
0,0,0,Health anxiety taking over my life Since I got...,Anxiety
1,1,1,Bladder cancer and heart disease I'm 26 I kno ...,Anxiety
2,2,2,"Might take a while to get my meds, what can I ...",Anxiety
3,3,3,anxiety over leg numbness so i've had cripplin...,Anxiety
4,4,4,"Inhalated AC/refrigerant chemicals Today, I wa...",Anxiety

In [22]:
#df.drop(columns=['Unnamed: 0.1', 'Unnamed: 0'], inplace= True)
#df.to_excel('mod_data.xlsx')

,Unnamed: 0.1,Unnamed: 0,statement,status
0,0,0,Health anxiety taking over my life Since I got...,Anxiety
1,1,1,Bladder cancer and heart disease I'm 26 I kno ...,Anxiety
2,2,2,"Might take a while to get my meds, what can I ...",Anxiety
3,3,3,anxiety over leg numbness so i've had cripplin...,Anxiety
4,4,4,"Inhalated AC/refrigerant chemicals Today, I wa...",Anxiety

In [24]:
df = pd.read_excel('mod_data.xlsx')

In [25]:
df.head()

,Unnamed: 0.1,Unnamed: 0,statement,status
0,0,0,Health anxiety taking over my life Since I got...,Anxiety
1,1,1,Bladder cancer and heart disease I'm 26 I kno ...,Anxiety
2,2,2,"Might take a while to get my meds, what can I ...",Anxiety
3,3,3,anxiety over leg numbness so i've had cripplin...,Anxiety
4,4,4,"Inhalated AC/refrigerant chemicals Today, I wa...",Anxiety

In [1]:
df.isnull().sum()

NameError: name 'df' is not defined